<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      .h2-text {
        color:red
      }
    </style>
</head>
<body>
  <div>
    <h1 id="h1-text">Заголовок 1</h1>
    <h2 class="h2-text">Заголовок 2</h2>
    <h3 class="h2-text">Заголовок 2</h3>
  </div>
  <ul>
    <li>1</li>
    <li>1</li>
    <li>1</li>
  </ul>
  <form action="/action" method="POST">
    <input type="text" value="текст по умолчанию">
    <input required type="email" placeholder="Email">
    <input required type="password" placeholder="введите пароль">
    <button type="submit">Кнопка</button>
  </form>
</body>
</html>