<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<h1>H1 text</h1>
<h2>H2 text</h2>
<p>Playwright <span style="color: green">enables reliable</span>  end-to-end testing for modern web apps.Playwright enables reliable end-to-end testing for
    modern web apps.Playwright enables reliable end-to-end testing for modern web apps.</p>
    </div>
<ol>
<a href="https://playwright.dev/" target="_blank"">  python </a>
<img src="https://playwright.dev/img/logos/Bing.png" style="width: 150px">
<form action="/action" method="post"
    <input type="text" value=12345 >
    <input required type="email" value=email >
    <input type="password" value=password >
    <textarea placeholder="Text">1231241421414124</textarea>
    <button type="submit">Кнопка</button>
<form>
    </ol>
    <table>
         <thead>
<tr>
    <td>Item1</td>
    <td>Item2</td>
    <td>Item3</td>
</tr>
         </thead>
        <tbody>
<tr>
    <td>Item1</td>
    <td>Item2</td>
    <td>Item3</td>
</tr>
        <tr>
    <td>Item1</td>
    <td>Item2</td>
    <td>Item3</td>
</tr>
        </tbody>

    </table>
</body>
</html>